:root {
    --main-color: #9A002F;
    --link-color: #666666;
    --text1: #999999;
    --highligth-text: #9A002F;
    --input-text: #4d4b4b;
    --white-color: #f8f8f8;
    --white2-color: #d2d2d2;
    --point-list: #4d4b4b;
    --line-input: #999999;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--text1);

}

.sec-form{
    background-color: var(--white-color);
    width: 100%;
    max-width: 680px;
    padding: 45px;
    box-shadow: 0 0 9px 5px rgb(0 0 0 / 30%);  
}

.form-group{
    margin-bottom: 2rem;
    position: relative;
}

.app-form input{
    width: 100%;
    height: 45px;
    font-size: 18px;
    padding-left: 8px;
    outline: none;
    border-radius: 6px;
    border: 1px solid #ccc
}

.app-form textarea{
    width: 100%;
    height: 70px;
    outline: none;
    resize: none;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.app-form button{
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #9A002F;
    background-color: #9A002F;
    color: #f8f8f8;
    box-shadow: 0 0 9px 5px rgb(0 0 0 / 30%);  
    transition: background-color .3s ease;
    cursor: pointer;
}

.app-form button:hover{
    background-color: #4d4b4b;    
}

.app-form span {
    position: absolute;
    left: 5px;
    top: 16px;
    pointer-events: none;
    transition: 0.9s;
    opacity: .4;
}

.app-form input:focus ~ span,
.app-form textarea:focus ~ span,
.app-form input:valid ~ span,
.app-form textarea:valid ~ span
{
    transform: translateY(-40px);
    font-size: 14px;
    opacity: .4;
}

textarea{
    padding: 10px;
}

button {
    font-size: 25px;
}

.setor{
width: 100%;
height: 45px;
font-size: 18px;
padding-left: 8px;
outline: none;
border-radius: 6px;
border: 1px solid #ccc;
}

.setorcor{
color: rgb(255, 255, 255);
}

.header-ligacao{
margin-bottom: 35px;
text-align: center;
font-size: 45px;
font-weight: 700;
color: rgb(255, 255, 255);
padding-bottom: 20px;
padding-top: 30px;
border-radius: 6px;
box-shadow: 0 0 9px 5px rgb(0 0 0 / 30%);  
background-color: #9A002F;
background-image: url(../images/phone3.png);
background-repeat: no-repeat;
background-position: 1em 0.49em;
background-size: 1.5em 1.5em;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
    -moz-appearance: textfield; 
}

/* Setor */
.setorcor{
    margin-bottom: 2rem;
    color: #999999;
}

